<h2>Cart</h2>
<hr>

<!-- cart_items list -->
<ul class="list-unstyled">
<% current_cart.cart_items.each do |cart_item| %>
  <li class="media">
    <% if cart_item.product.image? %>
      <%= image_tag cart_item.product.image, width:"50 px", class: "mr-3" %>
    <% else %>
      <img  class="mr-3" src="http://via.placeholder.com/50x35">
    <% end %>
    <div class="media-body">
      <h5><%= cart_item.product.name %></h5>
      <p>$<%= cart_item.product.price %></p>
      <%= link_to ' - ', change_cart_item_product_path(cart_item.product, type: 'reduce'), method: :post, class: "badge badge-pill badge-secondary" %>
      <%= cart_item.quantity %>
      <%= link_to ' + ', change_cart_item_product_path(cart_item.product, type: 'add'), method: :post, class: "badge badge-pill badge-secondary" %>
      <%= button_to 'Delete', delete_from_cart_product_path(cart_item.product) %>
    </div>
  </li>
<% end %>
</ul>
<hr>
<!-- totals and cart link -->
<h5>subtotal $<%= current_cart.subtotal %></h5>
