<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10">
      <!-- all products display -->
      <div class="row">
      <% @products.each do |product| %>
        <div class="col-6 col-sm-4 col-md-3">
          <div class="card opacity_white">
            <% if product.image? %>
              <%= image_tag product.image, height:'50%', class: "card-img-top" %>
            <% else %>
              <img  class="card-img-top" src="http://via.placeholder.com/350x235">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to product.name, product_path(product) %></h5> 
              <p class="card-text"><%= truncate(product.description, length: 50) %></p>
              <h2 class="card-text">$ <%= product.price %></h2>
              
            </div>
            <h5 class="card-footer"><%= link_to "Add to Cart" %></h5> 
          </div>
        </div>
      <% end %>
      </div>
      <!-- 有generate kaminari paginate bootstrap style -->
      <br/>
      <div class="pagination justify-content-center">
        <%= paginate @products, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
    <div class="col-6 col-sm-2">
      <!-- sideCart -->
      <h2>Cart</h2>
      <div class="media">
        <img  class="mr-3" width="50 px" src="http://via.placeholder.com/350x235">
        <div class="media-body">
          <h5 class="mt-0">Product name</h5>
          <h5>product.price</h5>
          <h5>+ quantity -  remove</h5>
        </div>
      </div>
    </div>
  </div>
</div>