<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10">
      <!-- all products display -->
      <div class="row">
      <% @products.each do |product| %>
        <div class="col-6 col-sm-4 col-md-3 mb-3">
          <div class="card opacity_white">
            <% if product.image? %>
              <%= image_tag product.image, height:'50%', class: "card-img-top" %>
            <% else %>
              <img  class="card-img-top" src="http://via.placeholder.com/350x235">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to product.name, product_path(product) %></h5> 
              <p class="card-text"><%= truncate(product.description, length: 10) %></p>
              <h2 class="card-text">$ <%= product.price %></h2>
              
            </div>
            <h5 class="card-footer"><%= button_to "Add to Cart", add_to_cart_product_path(product) %></h5> 
          </div>
        </div>
      <% end %>
      </div>
      <!-- 有generate kaminari paginate bootstrap style -->
      <br/>
      <div class="pagination justify-content-center">
        <%= paginate @products, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
    <div class="col-6 col-sm-2">
      <!-- sideCart -->
      <h2>Cart</h2>
      <hr>

      <!-- cart_items list -->
      <ul class="list-unstyled">
      <% current_cart.cart_items.each do |cart_item| %>
        <li class="media">
          <% if cart_item.product.image? %>
            <%= image_tag cart_item.product.image, width:"50 px", class: "mr-3" %>
          <% else %>
            <img  class="mr-3" src="http://via.placeholder.com/50x35">
          <% end %>
          <div class="media-body">
            <h5><%= cart_item.product.name %></h5>
            <p>$<%= cart_item.product.price %></p>
            <span class="badge badge-secondary">-</span>
            <%= cart_item.quantity %>
            <span class="badge badge-secondary">+</span>
            <%= button_to 'Remove' %>
          </div>
        </li>
      <% end %>
    </ul>
      <hr>
      <!-- totals and cart link -->
      <h5>subtotal $$$</h5>

      <button class="btn btn-primary">View Cart</button>

    </div>
  </div>
</div>