<div class="container">
  <!-- product detail -->
  <div class="row ">
    <!-- product's image -->
    <div class="col-12 col-md-5 ">
      <% if @product.image? %>
        <%= image_tag @product.image, width: '350px', class: "img-responsive center-block" %>
      <% else %>
        <img  class="card-img-top" src="http://via.placeholder.com/350x235">
      <% end %>
    </div>  

    <!-- product's details -->
    <div class="col-12 col-sm-5 ">
      <ul class="list-unstyled">
        <li><h1><%= @product.name %></h1></li>
        <li><h4>$<%= @product.price %></h4></li>
        <li><%= @product.description%></li>
      </ul>
       
      <!-- quantity change and add to cart form-->
      <p>- 1 +</p>
      <%= button_to 'Add to Cart', add_to_cart_product_path(@product) %>
    </div>

    <div class="col-6 col-sm-2">
      <!-- sideCart -->
      <%= render partial: "shared/side_cart" %>
    </div>
  </div>   
</div>  
