<div class="container">
  <!-- product detail -->
  <div class="row ">
    <!-- product's image -->
    <div class="col-12 col-md-5 ">
      <% if @product.image? %>
        <%= image_tag @product.image, width: '350px', class: "img-responsive center-block" %>
      <% else %>
        <img  class="card-img-top" src="http://via.placeholder.com/350x235">
      <% end %>
    </div>  

    <!-- product's details -->
    <div class="col-12 col-sm-5 ">
      <ul class="list-unstyled">
        <li><h1><%= @product.name %></h1></li>
        <li><h4>$<%= @product.price %></h4></li>
        <li><%= @product.description%></li>
      </ul>
       
      <!-- quantity change and add to cart form-->
      <p>- 1 +</p>
      <%= button_to 'Add to Cart', add_to_cart_product_path(@product) %>
    </div>

    <div class="col-6 col-sm-2">
      <!-- sideCart -->
      <h2>Cart</h2>
      <hr>

      <!-- cart_items list -->
      <ul class="list-unstyled">
      <% current_cart.cart_items.each do |cart_item| %>
        <li class="media">
          <% if cart_item.product.image? %>
            <%= image_tag cart_item.product.image, width:"50 px", class: "mr-3" %>
          <% else %>
            <img  class="mr-3" src="http://via.placeholder.com/50x35">
          <% end %>
          <div class="media-body">
            <h5><%= cart_item.product.name %></h5>
            <p>$<%= cart_item.product.price %></p>
            <span class="badge badge-secondary">-</span>
            <%= cart_item.quantity %>
            <span class="badge badge-secondary">+</span>
            <%= button_to 'Remove' %>
          </div>
        </li>
      <% end %>
    </ul>
      <hr>
      <!-- subtotal and cart link -->
      <h5>subtotal $$$</h5>
      <button class="btn btn-primary">View Cart</button>
    </div>
  </div>   
</div>  
